<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: patientHeader"></header>

	<div class="container py-4">

		<div class="card">

			<div class="card-body">
			
				<nav class="navbar navbar-light">
					<h3 class="card-title" th:text="${title}"></h3>
					<form th:action="@{#}" class="form-inline" method="post">
						<input class="form-control mr-sm-2" type="search" placeholder="Nutricionista">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</nav>
				
				<h6 class="card-subtitle mb-2 text-muted text-center"
					th:text="${message}"></h6>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Especialidad</th>
							<th>Solicitud</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="nutri:${nutris}">
							<td th:text="${nutri.toString()}"></td>
							<td th:text="${nutri.nutritionistSpecialty}"></td>
							<td><a class="btn btn-success btn-sm"
								th:href="@{'/requests/new/?id_nutri=' + ${nutri.id}+'&id_pat='+${sessionUser.id}}"
								th:text="'Enviar solicitud'"></a></td>
							<td><a class="btn btn-success btn-sm" th:href="@{'/requests/new/?id_nutri=' + ${nutri.id}+'&id_pat='+${sessionUser.id}}"
								th:text="'Enviar solicitud'"></a></td>
						</tr>
					<tbody>

					</tbody>

				</table>
			</div>
		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>