<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/patient :: head"></head>

<body>

	<header th:replace="layout/patient :: header"></header>

	<div class="container py-4">
		<h3 th:text="${message}"></h3>
		<div class="card bg-light">
		
			<div class="card-header" th:text="${title}" align="center"></div>

			<div class="card-body">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Especialidad</th>
							<th>Solicitud</th>
						</tr>
					</thead>
					<tbody >
						<tr th:each="nutri:${nutris}">
							<td th:text="${nutri.firstName}"></td>
							<td th:text="${nutri.nutritionistSpecialty}"></td>
							<td><a class="btn btn-success btn-sm"
								th:href="@{'/requests/new/?id_nutri=' + ${nutri.id}+'&id_pat=5'}"
								th:text="'Enviar solicitud'"></a></td>
						</tr>
					<tbody>

					</tbody>

				</table>
			</div>
		</div>
	</div>


	<footer th:replace="layout/patient :: footer"></footer>
	<p th:replace="layout/patient :: scripts"></p>
</body>
</html>